// Creadndo variables de color
$crblanco : #ffffff;
$crgrisclaro : #f2f2f2;
$crgris : #D9D9D9;
$crgrisoscuro : #B3B3B3;
$crplomo : #737373;


*{padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif;}
body{ background: $crgris; }
.center{ width:90%; margin:auto;}

